* {
  box-sizing: border-box;
}

.gallery {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 1140px;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gallery-image {
  width: 360px;
  height: 200px;
  object-fit: fill;
}
.gallery-item {
  width: 360px;
  height: 200px;
}
